@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");
:root {
  /* --background: #2e122d; */
  --background: rgb(144, 81, 207);
  --color_a: yellow;
  --color_b: #fff;
  --card: #e0a499;
  --btn: #c44d56;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--color_b);
  scroll-behavior: smooth;
}
*::selection {
  background-color: #e0a499;
  color: var(--color_b);
}
body {
  background: var(--background);
  transition: all 1s;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
}
/* ============= Nav =========== */
.container nav {
  width: 100%;
  padding: min(2vw, 10px) min(4vw, 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid var(--color_b);
  position: relative;
  position: sticky;
  top: -2px;
  backdrop-filter: invert(20%);
  z-index: 200;
}
.container nav h2 {
  font-size: 30px;

  letter-spacing: 3px;
  font-weight: bold;
  color: var(--color_b);
  position: relative;
}
.container nav h2::before {
  position: absolute;
  content: "F";
  left: 2.4%;
  top: 7%;
  font-size: 25px;
  color: var(--color_a);
}
.container nav h2 a {
  text-decoration: none;
}
.container nav h2::after {
  position: absolute;
  content: "";
  right: -10px;
  bottom: min(1vw, -5px);
  width: min(2vw, 15px);
  height: min(2vw, 15px);
  border-radius: 50;
  background-color: var(--color_a);
  border-radius: 50%;
}
@media (max-width: 400px) {
  .container nav h2::after {
    right: -7px;
    bottom: -1px;
  }
}
.container nav .menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  user-select: none;
}

.container nav .menu ul li a {
  text-decoration: none;
  font-size: 16px;
  position: relative;
  padding: 5px;
  color: var(--color_b);
}
.container nav .menu ul li a::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -0.2vw;
  width: 0;
  height: 0.2vw;
  background-color: var(--color_a);
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.container nav .menu ul li a:hover::after {
  width: 100%;
  transform-origin: center;
}
.container nav .menu ul svg.sun {
  display: none;
}
.moon:hover {
  stroke: var(--color_a);
}
.sun:hover {
  stroke: var(--color_a);
}
.container nav svg {
  width: 20px;
  cursor: pointer;
}
.container nav svg.open,
nav svg.close {
  display: none;
}

@media (max-width: 700px) {
  .container nav svg.open {
    display: block;
  }
  .container nav svg.close {
    display: block;
  }
  .container nav svg.off {
    display: none;
  }

  .container nav .menu ul li a::after {
    display: none;
  }
  .container nav .menu ul {
    display: none;
  }
  .container nav .menu ul.active {
    display: block;
    width: 55%;
    height: fit-content;
    position: absolute;
    top: 105%;
    right: 0;
    background-color: var(--background);
    text-align: center;
    padding: 4vh 0;
    gap: 0px;
    transition: all 0.5s;
  }
  .container nav .menu ul.active li {
    margin: 10px 0;
  }
  .container nav .menu ul.active li:hover a {
    color: var(--color_a);
  }
  .container nav .menu ul.active svg.moon {
    display: block;
  }
  .container nav .menu ul.active svg.sun,
  .container nav .menu ul.active svg.moon {
    position: absolute;
    top: 2vh;
    right: 2vw;
  }
}

/* ============= Home =========== */
.home {
  width: 100%;
  padding: 4vw 5vw;
}

.home .intro_img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.home .intro_img .intro {
  width: 50%;
}
.home .intro_img .intro span.hello {
  font-size: 24px;
  position: relative;
}
.home .intro_img .intro span.hello::after {
  position: absolute;
  content: "";
  right: -70%;
  bottom: 20%;
  width: 60%;
  height: 10%;
  background: var(--color_a);
}
.home .intro_img .intro h1 {
  height: 100px;
  font-size: 40px;
  color: var(--color_b);
  margin: 1vw 0;
}
@media (max-width: 360px) {
  .home {
    padding: 4vw 1vw;
  }
}
@media (max-width: 320px) {
  .home .intro_img .intro span.hello {
    font-size: 20px;
  }
  .home .intro_img .intro h1 {
    font-size: 30px;
    height: 80px;
  }
}
@media (max-width: 240px) {
  .home .intro_img .intro span.hello {
    font-size: 15px;
  }
  .home .intro_img .intro h1 {
    font-size: 20px;
    height: 50px;
  }
}
.home .intro_img .intro h1 span {
  user-select: none;
  color: var(--color_a);
}
.home .intro_img .intro p {
  color: var(--color_b);
  max-width: 400px;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 5px;
}

@media (max-width: 240px) {
  .home .intro_img .intro p {
    font-size: 16px;
  }
}
.home .intro_img .intro .abtns {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}
.home .intro_img .intro button {
  background-color: var(--btn);
  padding: 5px 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;

  box-shadow: 0 15px 40px -10px #000;
}
.home .intro_img .intro button a.cv {
  text-decoration: none;
  color: var(--color_b);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.5s;
}
@media (max-width: 330px) {
  .home .intro_img .intro button a.cv {
    font-size: 15px;
  }
}
.home .intro_img .intro button:hover a.cv {
  color: var(--color_a);
}
.home .intro_img .intro button:active {
  transform: translateY(5%);
  box-shadow: 0 15px 30px -10px #000;
}
.home .intro_img .intro .social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home .intro_img .intro .social .socialandbtn {
  margin-top: 15px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2vw;
}
.home .intro_img .intro .social .socialandbtn a {
  font-size: 40px;
  transition: all 0.3s;
  color: var(--color_b);
}
@media (max-width: 410px) {
  .home .intro_img .intro .social .socialandbtn a {
    font-size: 30px;
  }
}
.home .intro_img .intro .social .socialandbtn a:hover {
  transform: translateY(-20%);
}
.home .intro_img .img {
  width: 50%;
}
.home .intro_img .img img {
  width: 100%;
  object-fit: cover;
  transform: translateX(-150%);
  opacity: 0;
  transition: all 1s ease-out;
}

@media (max-width: 880px) {
  .home .intro_img {
    height: 100%;
    padding-top: min(2vw, 50%);
    gap: 5vw;
  }
  .home .intro_img .intro {
    width: 90%;
    margin: 0 auto;
  }
  .home .intro_img .img {
    width: 100%;
    margin: 0 auto;
  }
}
.home .scroll-down-btn {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.home .scroll-down-btn .outer {
  display: inline-block;
  width: 30px;
  height: 60px;
  border-radius: 20px;
  padding-top: 4px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 2px solid var(--color_a);
  position: absolute;
  right: 10px;
}
.home .scroll-down-btn .inner {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 10%;
  border-radius: 50%;
  background: var(--color_b);
  animation: mouse 1.3s infinite;
}
@keyframes mouse {
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}
@media (max-width: 400px) {
  .home .scroll-down-btn .outer {
    width: 20px;
    height: 40px;
  }
}
@media (max-width: 300px) {
  .home .scroll-down-btn {
    display: none;
  }
}
/* ============== Scroll in =========== */
.home .intro_img .img[data-scroll="in"] img {
  transform: translateX(0px);
  opacity: 1;
}

/* ============= About =========== */
.about {
  width: 100%;
  padding: 4vw;
  overflow-x: hidden;
}

.about h2 {
  display: inline-block;
  font-size: 24px;
  color: var(--color_b);
  position: relative;
  margin-bottom: 15px;
}
.about h2::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  top: 50%;
  left: 110%;
  border-radius: 5px;
  background-color: var(--color_a);
}
.about h2::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  top: 50%;
  right: 110%;
  border-radius: 5px;
  background-color: var(--color_a);
}
@media (max-width: 230px) {
  .about h2 {
    font-size: 20px;
  }
}

.about .about_picntxt {
  margin: 18px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about .about_picntxt .aboutPic {
  width: 50%;
}
.about .aboutPic img {
  width: 90%;
  object-fit: cover;
}
.about .about_picntxt .aboutTxt {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;

  backdrop-filter: blur(11px) saturate(153%);
  -webkit-backdrop-filter: blur(11px) saturate(153%);
  background-color: rgba(69, 90, 130, 0.62);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 20px;
}
.about .about_picntxt .aboutTxt h1 {
  color: var(--color_a);
  writing-mode: vertical-lr;
  font-size: 24px;
  transform: rotate(180deg);
}
.aboutTxt input,
.aboutTxt label {
  display: none;
}
.aboutTxt label {
  color: var(--card);
  text-decoration: underline;
  cursor: pointer;
}
.aboutTxt .seemore {
  display: flex;
  flex-direction: column;
}
.about .about_picntxt p {
  text-align: left;
  font-size: 20px;
  color: var(--color_b);
}
@media (max-width: 240px) {
  .about .about_picntxt p {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .about .about_picntxt .aboutTxt {
    margin-top: 6vw;
  }
  .about .about_picntxt .aboutPic {
    width: 100%;
  }
  .about .about_picntxt .aboutTxt {
    width: 100%;
    padding: 5vw;
  }
}
@media (max-width: 430px) {
  .about .about_picntxt p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .aboutTxt label {
    display: block;
  }
  .aboutTxt label::before {
    content: "See more..";
  }

  .aboutTxt #seemorToggle:checked ~ p {
    display: block;
  }
  .aboutTxt #seemorToggle:checked ~ label::before {
    content: "See less..";
  }
}
@media (max-width: 290px) {
  .about .about_picntxt p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
/* ============= Skill =========== */
.skill {
  width: 100%;
  padding: 4vw;
  overflow-x: hidden;
}

.skill h2 {
  display: inline-block;
  font-size: 24px;
  color: var(--color_b);
  position: relative;
  margin-bottom: 15px;
}
.skill h2::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  top: 50%;
  left: 110%;
  border-radius: 5px;
  background-color: var(--color_a);
}
.skill h2::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  top: 50%;
  right: 110%;
  border-radius: 5px;
  background-color: var(--color_a);
}
@media (max-width: 230px) {
  .skill h2 {
    font-size: 20px;
  }
}
.skill .horiscroll {
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}
.skill .leftrightbtns {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.skill .leftrightbtns > svg {
  display: none;
  width: 35px;
  padding: 5px;
  background-color: var(--btn);
  border-radius: 50%;
  cursor: pointer;
}
.skill .horiscroll::-webkit-scrollbar {
  display: none;
}
.skill .skill-container {
  /* width: 1000px; */
  width: fit-content;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  gap: 3px;
  align-items: center;
}

.skill .skill-container .frontend,
.skill .skill-container .backend,
.skill .skill-container .learned {
  width: 330px;
  border-radius: 10px;
  transition: all 0.3s;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;

  backdrop-filter: blur(11px) saturate(153%);
  -webkit-backdrop-filter: blur(11px) saturate(153%);
  background-color: rgba(69, 90, 130, 0.62);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
@media (max-width: 1088px) {
  .skill .leftrightbtns > svg {
    display: block;
  }
}

.skill .skill-container .frontend:hover,
.skill .skill-container .backend:hover,
.skill .skill-container .learned:hover {
  transform: translateY(-4%);
}
.skill .skill-container .frontend .frontendtitle,
.skill .skill-container .backend .backendtitle,
.skill .skill-container .learned .learnedtitle {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  padding: 5% 0;
  border-bottom: 0.5vw solid skyblue;
}
.skill .skill-container .frontend .frontendtitle i,
.skill .skill-container .backend .backendtitle i,
.skill .skill-container .learned .learnedtitle i {
  font-size: 24px;
}

.skill .skill-container .frontend .frontendtitle > h4,
.skill .skill-container .backend .backendtitle > h4,
.skill .skill-container .learned .learnedtitle > h4 {
  font-size: 24px;
  box-shadow: 0 15px 20px -10px #000;
}
.skill .skill-container .frontend .frontendtitle svg,
.skill .skill-container .backend .backendtitle svg,
.skill .skill-container .learned .learnedtitle svg {
  width: 10%;
}
.content {
  width: 90%;
  margin: 0 auto;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 360px) {
  .skill .skill-container .items {
    width: 250px;
  }
  .contact {
    max-width: 50%;
    gap: 2px;
  }
}
@media (max-width: 270px) {
  .skill .skill-container .items {
    width: 200px;
  }
  .skill .skill-container .frontend .frontendtitle > h4,
  .skill .skill-container .backend .backendtitle > h4,
  .skill .skill-container .learned .learnedtitle > h4 {
    font-size: 20px;
  }
  .content li > h4 {
    font-size: 15px;
  }
}
.content li {
  list-style: none;
}
.content li > h4 {
  font-size: 20px;
  font-weight: normal;
  box-shadow: 0 15px 20px -10px #000;
}
.content li .bar {
  display: inline-block;
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background-color: var(--card);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content li .bar .html {
  display: inline-block;
  width: 85%;
  height: 95%;
  background-color: var(--color_a);
}
.content li .bar .css {
  display: inline-block;
  width: 70%;
  height: 95%;
  background-color: var(--color_a);
}
.content li .bar .js {
  display: inline-block;
  width: 78%;
  height: 95%;
  background-color: var(--color_a);
}
.content li .bar .react {
  display: inline-block;
  width: 5%;
  height: 95%;
  background-color: var(--color_a);
}
.content li .bar .jquery {
  display: inline-block;
  width: 10%;
  height: 95%;
  background-color: var(--color_a);
}
.content li .bar .bootstrap {
  display: inline-block;
  width: 65%;
  height: 95%;
  background-color: var(--color_a);
}
.content li .bar .tailwind {
  display: inline-block;
  width: 10%;
  height: 95%;
  background-color: var(--color_a);
}
.content li .bar .nodejs {
  display: inline-block;
  width: 75%;
  height: 95%;
  background-color: var(--color_a);
}
.content li .bar .express {
  display: inline-block;
  width: 83%;
  height: 95%;
  background-color: var(--color_a);
}
.content li .bar .python {
  display: inline-block;
  width: 70%;
  height: 95%;
  background-color: var(--color_a);
}
.content li .bar .django {
  display: inline-block;
  width: 5%;
  height: 95%;
  background-color: var(--color_a);
}
.content li .bar .php {
  display: inline-block;
  width: 10%;
  height: 95%;
  background-color: var(--color_a);
}
.content li .bar .laravel {
  display: inline-block;
  width: 5%;
  height: 95%;
  background-color: var(--color_a);
}
.content li.learnedfact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content li img {
  width: 15%;
}
/* ============= Projects =========== */
.project {
  width: 100%;
  padding: 4vw 2vw;
  overflow-x: hidden;
}

.project h2 {
  display: inline-block;
  font-size: 24px;
  color: var(--color_b);
  position: relative;
  margin-bottom: 15px;
}
.project h2::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  top: 50%;
  left: 110%;
  border-radius: 5px;
  background-color: var(--color_a);
}
.project h2::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  top: 50%;
  right: 110%;
  border-radius: 5px;
  background-color: var(--color_a);
}
@media (max-width: 230px) {
  .skill h2 {
    font-size: 20px;
  }
}
.project-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
.project-item {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 10px;
  cursor: pointer;

  backdrop-filter: blur(11px) saturate(153%);
  -webkit-backdrop-filter: blur(11px) saturate(153%);
  background-color: rgba(69, 90, 130, 0.62);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: all 0.5s;
  box-shadow: 0 15px 40px -10px #000;
}
.project-item:hover {
  transform: translateY(-4%);
  transform: scale(1.2);
}
.project-item img {
  width: 100%;
  margin-bottom: 1vw;
  object-fit: cover;
}

.project-item h4 {
  font-size: 20px;
  color: var(--color_b);
  user-select: none;
  margin-bottom: 0.5vw;
}
.project-item p {
  font-size: 18px;
  margin-bottom: 0.5vw;
  user-select: none;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 700px) {
  .project-item {
    width: 80%%;
  }
}
/* ============= Contact =========== */
.cont {
  width: 100%;
  padding: 4vw;
  overflow-x: hidden;
}

.cont h2 {
  display: inline-block;
  font-size: 24px;
  color: var(--color_b);
  position: relative;
  margin-bottom: 15px;
}
.cont h2::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  top: 50%;
  left: 110%;
  border-radius: 5px;
  background-color: var(--color_a);
}
.cont h2::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  top: 50%;
  right: 110%;
  border-radius: 5px;
  background-color: var(--color_a);
}
@media (max-width: 230px) {
  .cont h2 {
    font-size: 20px;
  }
}
.formandadress {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
form {
  width: 40%;
  height: fit-content;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form h3 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 15px;
  color: var(--background);
}

form input,
form textarea {
  width: 100%;
  background-color: #dbd8d8;
  border: none;
  outline: none;
  margin: 5px 0;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  color: #000;
  border-radius: 5px;
}
form input:focus,
form textarea:focus {
  outline: 2px solid var(--background);
}
form button {
  background-color: var(--btn);
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  margin-top: 5px;
  border-radius: 20px;
}

.adress {
  width: 40%;
  height: fit-content;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 700px) {
  form {
    width: 90%;
  }
  .adress {
    width: 90%;
    background-color: rgb(30, 30, 80);
  }
}
.aditem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.aditem .fas {
  font-size: 20px;
}
.aditem .ha {
  display: flex;
  flex-direction: column;
}
.aditem h5 {
  font-size: 19px;
}
.aditem a {
  font-size: 15px;
}
